<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <h3><%= ['Namaste', 'Bonjur', 'Camcho', 'Vadkkam'] [0]%></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quo veniam, inventore commodi, qui quas illum eum illo est repellendus quibusdam totam necessitatibus. Fugit reprehenderit doloribus, velit eos ducimus et!</p>
     <button>Click me!</button>    
</body>
